<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
  <nav th:replace="fragments :: navLinks"></nav>
  <center> <h1> Forget Password?  </h1> </center>
  <form>
    <div class="container">
      <label>Enter New Password: </label>
      <input type="password" placeholder="New Password" name="newPassword" required>
      <label>Re-enter New Password : </label>
      <input type="password" placeholder="Re-enter New Password" name="reenterNewPassword" required>
      <button type="submit">Submit New Password</button>
      <button type="button" class="cancelbtn"> Cancel</button>
    </div>
  </form>
</body>
</html>