<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container"> </body>
<nav th:replace="fragments :: navLinks"></nav>
<body>

<center> <h1> Log into your account </h1> </center>
<form>
    <div class="container">
        <label>Username/Email : </label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
        <button type="button" class="cancelbtn"> Cancel</button>
        Forgot <a href="/forgetPassword"> password? </a>
        <div> New user create account <a href="/signUp">Sign up here</a> </div>



    </div>
</form>
</body>
</html>