<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container"> </body>
<nav th:replace="fragments :: navLinks"></nav>
<body>

<center> <h1> Sign up  </h1> </center>
<form>
  <div class="container">
    <label>First Name : </label>
    <input type="text" placeholder="First Name" name="firstName" required>
    <label>First Name : </label>
    <input type="text" placeholder="Last Name" name="lastName" required>
    <label>Email : </label>
    <input type="text" placeholder="Enter Email Address" name="email" required>
    <label>Password : </label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label>Re-enter Password : </label>
    <input type="password" placeholder="Re-enter Password" name="reenterPassword" required>
    <button type="submit">Sign Up</button>
    <button type="button" class="cancelbtn"> Cancel</button>
    Forgot <a href="#"> password? </a>
    <div> Already have an account. <a href="/">Log in here</a> </div>



  </div>
</form>
</body>
</html>