<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Job Organizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/jobs.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body class="container">
<nav th:replace="fragments :: navLinks"></nav>

<p th:unless="${interview} and ${interview.size()}">No Interviews!</p>

<table class="table table-striped"></table>
    <thred>
        <tr>
            <th>Interviews</th>
        </tr>
    </thred>
    <tr th:each="interview : ${interview}">
        <td><a th:href="'/interview/detail?interviewId=' + ${interview.id}" th:text="${interview.companyName}"></a></td>
    </tr>

</body>
</html>