<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Job Organizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/jobs.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body class="container">
<nav th:replace="fragments :: navLinks"></nav>

<p th:unless="${interviewStatus} and ${interviewStatus.size()}">No Status Listed</p>
    <thead>
    <tr>
        <th>Statuses</th>
    </tr>
    </thead>
    <tr th:each="status : ${interviewStatus}">
        <td th:text="${status.displayName}"></td>
    </tr>

</body>
</html>